

.svg-canvas { border: 1px solid green }


.selected {
  background-color: #fff000;
}

.prop-label {
  display: inline-block;
  width: 100px;
}

section {
  border: 5px solid gainsboro;
  padding: 5px;
}

.relative {

}
