
<div >
  <button (click)="clearD()">reset</button> <button (click)="undo()">undo</button>
  <p>
    svg-canvas works!
  </p>
  <div>
    <p class="d">
      {{ d }}
    </p>

    <div>
      <button (click)="cyclePathBlocksDown()">-</button>
    <button (click)="cyclePathBlocksUp()">+</button>
    </div>
    {{ selectedBlock | json }}

  </div>


  <div>
    <button *ngFor="let type of types"  class="tooltip" [ngClass]="getTypeClass(type)" (click)="currentType = type">{{type.value}}<span class="tooltiptext">{{type.description}}</span></button>
  </div>
  <p>
    {{currentType | json}}
  </p>

  <svg height="210" width="400" class="svg-canvas" (click)="addPoint($event)">
    <path [attr.d]="getD()" style="stroke: #fff000; stroke-width: 1%; fill: none"></path>
  </svg>
</div>
